<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
         alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change Password</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="form">

      <div>
        <div class="flex items-center justify-between">
          <label for="oldPassword" class="block text-sm font-medium leading-6 text-gray-900">Old Password</label>
        </div>
        <div class="mt-2">
          <input id="oldPassword" name="oldPassword" type="password" formControlName="oldPassword"
                 class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="text-sm text-red-500">
          <div *ngIf="oldPassword?.errors?.['required']">Old password is required.</div>
          <div *ngIf="oldPassword?.errors?.['invalidOldPassword']">Old password is invalid.</div>
        </div>

      </div>


      <div>
        <div class="flex items-center justify-between">
          <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
        </div>
        <div class="mt-2">
          <input id="newPassword" name="newPassword" type="password" formControlName="newPassword"
                 class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="newPassword?.touched && newPassword?.invalid" class="text-sm text-red-500">
          <div *ngIf="newPassword?.errors?.['required']">Password is required.</div>
        </div>

      </div>


      <div>
        <div class="flex items-center justify-between">
          <label for="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm
            Password</label>
        </div>
        <div class="mt-2">
          <input id="confirmPassword" name="confirmPassword" type="password" formControlName="confirmPassword"
                 class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="text-sm text-red-500">
          <div *ngIf="confirmPassword?.errors?.['required']">Password is required.</div>
        </div>

        <div *ngIf="confirmPassword?.valid && form?.invalid && form?.errors?.['passwordsShouldMatch']" class="text-sm text-red-500">Passwords do not match.</div>

      </div>


      <div>
        <button type="submit" [disabled]="!form.valid"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white
          shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
          focus-visible:outline-indigo-600">Change Password
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a routerLink="/signup" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign up</a>
    </p>
  </div>
</div>
